.left-side-wrapper{
    position: fixed;
    bottom: 0;
    width: 35px;
    left: 10%;
    height: 400px;

    .line{
        border-left: 1px solid black;
        height: 350px;
        z-index: 1;;
    }

    .icon-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}