
a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

.sticky {
	display: block;
}

.nav-index{
	color: #234CE0;
	font-family: Roboto Mono, sans-serif;
	margin-right: 0px 10px !important;
}

.menu-item{
	width: 75px;
	display: flex;
	font-family: Roboto Mono, sans-serif;
}

.d-flex{
	display: flex;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
