*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
