.right-side-wrapper{
    position: fixed;
    // height: 400px;
    bottom: 0;
    right: 10%;
    width: 5px;

    .wordwrapper{
        transform-origin: 0 0;
        transform: rotate(90deg);
        margin-left: 13px !important;

        a{
            background-color: $off_white;
            padding: 0 10px !important;
        }
    }

    .line{
        border-left: 1px solid black;
        height: 350px;
        z-index: 1;;
    }
}