body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

.font-color-red{
	color: $color-red;
}

.font-color-grey{
	color: $color-grey;
}

@import "headings";
@import "copy";
